body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.search-input {
  width: 0;
  padding: 0;
  border: none;
  background: transparent;
  color: black; /* el texto siempre visible */
  transition: all 0.3s ease;
  opacity: 0; /* empieza invisible */
}

/* Cuando el form o sus hijos tienen foco, se expande */
.search-form:focus-within .search-input {
  width: 200px;
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  background: white;
  opacity: 1;
}

/*transicion de los productos destacados*/
.item-producto-destacado{
  overflow: hidden;
  animation: cambioShadow 4s infinite alternate;
}
.img-scale {
    transition: transform 300ms ease-out, filter 300ms ease-out;
}
.img-scale:hover {
  transform: scale(1.05); 
}


@keyframes cambioShadow {
  0% {
    box-shadow: 0 4px 20px rgba(48, 252, 208, 0.603);
  }
  50% {
    box-shadow: 0 4px 20px rgba(7, 247, 7, 0.568); 
  }
  100% {
    box-shadow: 0 4px 20px rgba(248, 5, 187, 0.568); 
}
}
