body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


main{
    flex-grow: 1;
}

.search-input {
  width: 0;
  padding: 0;
  border: none;
  background: transparent;
  color: black; /* el texto siempre visible */
  transition: all 0.3s ease;
  opacity: 0; /* empieza invisible */
}

/* Cuando el form o sus hijos tienen foco, se expande */
.search-form:focus-within .search-input {
  width: 200px;
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  background: white;
  opacity: 1;
}

/*estilos pagina carrito*/

.contain-chart {
      width: 70px; /* tamaño contenedor */
      overflow: hidden; /* oculta desbordes */
      border-radius: 1px;
    }

    .contain-chart-img {
      width: 70px;
      transition: transform 0.4s ease; /* animación suave */
    }

    .contain-chart-img:hover {
      transform: scale(1.1) translateY(-5px); /* agranda y sube un poco */
    }

    .border-bottom {
  border-bottom: 1px solid #e0e0e0 !important;
}



